body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

.my_carousel.carousel-inner {
  border-radius: 5px;
  overflow: hidden;
}

.my_caption.carousel-caption {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

